*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /* background-color: brown; */
}

.title-h1 {
  font-size: 0.25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  overflow: auto;
  color: rgb(36, 40, 44);
}
